In [2]:
import urllib #access data
import json #transforming data
import pandas as pd

data source:https://data.ibb.gov.tr/dataset/gaz-birim-fiyati-ve-miktari/resource/dd1dfa09-5fd2-4533-96f4-e193be79053e

In [18]:
url="https://data.ibb.gov.tr/en/datastore/odata3.0/dd1dfa09-5fd2-4533-96f4-e193be79053e?$format=json"

In [19]:
def IbbData_to_df(urlAdress):
    request=urllib.request.urlopen(urlAdress)
    #trasforming data to python-json
    data=json.loads(request.read().decode())
    #get only data part in web
    data=data.get("value")
    #trasnforming data to dataframe
    return pd.DataFrame(data)

### try to function:

In [20]:
df=IbbData_to_df(url)

In [21]:
df

   _id   Yil  Fiyat(TL) /m3  Gaz Satis Miktar (m3)
0    1  2016          0.992             5755359363
1    2  2017          0.947             6472227327
2    3  2018          1.059             6414579426
3    4  2019          1.291             6306661121
4    5  2020          1.540             6472970557
5    6  2021          1.745             5377613045

Warning:End of the url have to contain "json"

Source:https://yigitsener.medium.com/i%CC%87bb-a%C3%A7%C4%B1k-veri-portal%C4%B1na-pythonda-api-ile-eri%C5%9Fim-ve-%C3%B6n-analiz-2d77757cc08